/Miigo.Admin/.vs
/Miigo.Admin/Miigo.Admin.Application/bin
/Miigo.Admin/Miigo.Admin.Application/obj
/Miigo.Admin/Miigo.Admin.Web.Core/bin
/Miigo.Admin/Miigo.Admin.Web.Core/obj
/Miigo.Admin/Miigo.Admin.Web.Entry/bin
/Miigo.Admin/Miigo.Admin.Web.Entry/obj
/Miigo.Admin/Miigo.Admin.Web.Entry/logs
/Miigo.Admin/Miigo.Admin.Core/obj
